<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Titulní strana</a></li>
	        	<li><a href="/about">O hudbě</a></li>
        		<li><a href="/cv">Vita Caroli</a></li>
        		<li><a href="/blog">Mlok</a></li>
    		</ul>
		</nav>
		<div class="container">
    	{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:my@email.domain">email</a></li>
        		<li><a href="https://github.com/hudba">github.com/hudba</a></li>
			</ul>
		</footer>
	</body>
</html>
